{{ '{{#Selected Credits}}' }}
<div id="textPart">
    {% if is_front %}
        What {{ '{{Known For}}' }}?<br>
        {{ '{{Selected Credits}}' }}
    {% else %}
        <span class="mini">{{ '{{Selected Credits}}' }}</span>
        <hr>
        <span class="rsAnswer rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Age}}' }}, {{ '{{Age}}' }}{{ '{{/Age}}' }}
    {% endif %}
</div>

<div id="imagePart">{% if not is_front %}{{ '{{Image}}' }}{% endif %}</div>


{{ script_include|safe }}
{{ '{{/Selected Credits}}' }}