{{ '{{#Video List}}' }}
<div id="textPart">
    {% if is_front %}
        Name a {{ '{{#Has film credit?}}' }}movie{{ '{{/Has film credit?}}' }}
        {{ '{{#Has film credit?}}' }}{{ '{{#Has TV credit?}}' }} or {{ '{{/Has TV credit?}}' }}{{ '{{/Has film credit?}}' }}
        {{ '{{#Has TV credit?}}' }}TV show{{ '{{/Has TV credit?}}' }}
        {{ '{{Name}}' }} {{ '{{#Actor?}}' }}starred in{{ '{{/Actor?}}' }}{{ '{{#Actor?}}' }}{{ '{{#Director?}}' }} or {{ '{{/Director?}}' }}{{ '{{/Actor?}}' }}{{ '{{#Director?}}' }}directed{{ '{{/Director?}}' }}.
    {% else %}
        {{ '{{Name}}' }}{{ '{{#Age}}' }}, {{ '{{Age}}' }}{{ '{{/Age}}' }}
        <hr>
        <span class="rsAnswerMulti">{{ '{{Video List}}' }}</span>
    {% endif %}
</div>

<div id="imagePart">{% if not is_front %}{{ '{{Image}}' }}{% endif %}</div>


{{ script_include|safe }}
{{ '{{/Video List}}' }}
