urlextract
requests-oauthlib
requests
wtforms
python-dateutil
habitipy
pytz
git+git://github.com/z1lc/toodledo-python.git@f77d4b97c56e610f9c6d5f6f11da49ed3dfabc72
Flask
gunicorn
psycopg2-binary
flask-talisman
flask-redis
flask_login
flask_migrate
flask_wtf
flask_socketio
