<div id="textPart">What artist?
    {% if is_front %}
        <br>
        <input id="jump" type="submit" onclick="jump()" value="Jump to Random Location"><br><br>
        <div id="error" style="color:red"></div>
    {% else %}
        <hr>
        <ul>
            <li><span class="rsAnswer">{{ '{{Artist(s)}}' }}</span></li>
            <li>{{ '{{Track Name}}' }}</li>
            <li>{{ '{{Album}}' }}</li>
        </ul>
    {% endif %}
</div>

<div id="imagePart">{% if not is_front %}{{ '{{Album Art}}' }}{% endif %}</div>

{{ script_include|safe }}
