{{ '{{#Description}}' }}
<div id="textPart">
    What {{ '{{Video Type}}' }}?<br>
    {% if not is_front %}<span class="mini">{% endif %}
    {{ '{{Description}}' }}{% if not is_front %}</span>{% endif %}
    <hr>
    {% if not is_front %}
        <span class="rsAnkiBold rsAnswer" id="answer">{{ '{{Name}}' }}</span>{{ '{{#Original Name}}' }}
        or {{ '{{Original Name}}' }}{{ '{{/Original Name}}' }}{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}<br>
        <ul class="mini">
            {{ '{{#Top Actors}}' }}
            <li>Stars {{ '{{Top Actors}}' }}</li>
            {{ '{{/Top Actors}}' }}
            {{ '{{#Director}}' }}
            <li>Directed by {{ '{{Director}}' }}</li>
            {{ '{{/Director}}' }}
            {{ '{{#Creator}}' }}
            <li>Created by {{ '{{Creator}}' }}</li>
            {{ '{{/Creator}}' }}
        </ul>
    {% endif %}
</div>

<div id="imagePart">
    {% if not is_front %}
        {{ '{{Poster Image}}' }}
        {{ '{{Director Image}}' }}
        {{ '{{Creator Image}}' }}
        {{ '{{Top Actor Images}}' }}
    {% endif %}
</div>


{{ script_include|safe }}
{{ '{{/Description}}' }}
