{{ '{{#Watched?}}' }}
{{ '{{#Create Director Card?}}' }}
<div id="textPart">
    {% if is_front %}
        Who directed <span class="rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}?
    {% else %}
        <span class="rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Original Name}}' }}
        or {{ '{{Original Name}}' }}{{ '{{/Original Name}}' }}{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}<hr>
        <ul>
            {{ '{{#Director}}' }}
            <li>Directed by <span class="rsAnswer">{{ '{{Director}}' }}</span></li>
            {{ '{{/Director}}' }}
            {{ '{{#Top Actors}}' }}
            <li class="mini">Stars {{ '{{Top Actors}}' }}</li>
            {{ '{{/Top Actors}}' }}
            {{ '{{#Creator}}' }}
            <li class="mini">Created by {{ '{{Creator}}' }}</li>
            {{ '{{/Creator}}' }}
        </ul>

    {% endif %}
</div>

<div id="imagePart">
    {% if not is_front %}
        {{ '{{Poster Image}}' }}
    {% endif %}
</div>


{{ script_include|safe }}
{{ '{{/Create Director Card?}}' }}
{{ '{{/Watched?}}' }}
