{{ '{{#Watched?}}' }}
{{ '{{#Create Director Card?}}' }}
<div id="textPart">
    {% if is_front %}
        Who directed <span class="rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}?
    {% else %}
        <span class="rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}<hr>
        <span class="rsAnswer">{{ '{{Director}}' }}</span>
    {% endif %}
</div>

<div id="imagePart">
    {% if not is_front %}
        {{ '{{Poster Image}}' }}
    {% endif %}
</div>


{{ script_include|safe }}
{{ '{{/Create Director Card?}}' }}
{{ '{{/Watched?}}' }}
