{{ '{{#Description}}' }}
<div id="textPart">
    {% if is_front %}
        Describe <span class="rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}
    {% else %}
        <span class="rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Original Name}}' }}
        or {{ '{{Original Name}}' }}{{ '{{/Original Name}}' }}{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}<br>
        <ul class="mini">
            {{ '{{#Top Actors}}' }}
            <li>Stars {{ '{{Top Actors}}' }}</li>
            {{ '{{/Top Actors}}' }}
            {{ '{{#Director}}' }}
            <li>Directed by {{ '{{Director}}' }}</li>
            {{ '{{/Director}}' }}
            {{ '{{#Creator}}' }}
            <li>Created by {{ '{{Creator}}' }}</li>
            {{ '{{/Creator}}' }}
        </ul><hr>
        <span class="rsAnswer">{{ '{{Description}}' }}</span>
    {% endif %}
</div>

<div id="imagePart">
    {% if not is_front %}
        {{ '{{Poster Image}}' }}
        {{ '{{Director Image}}' }}
        {{ '{{Creator Image}}' }}
        {{ '{{Top Actor Images}}' }}
    {% endif %}
</div>


{{ script_include|safe }}
{{ '{{/Description}}' }}
