{{ '{{#Poster Image}}' }}
<div id="textPart">
    {% if is_front %}
        Visualize the poster for <span class="rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}
    {% else %}
        <span class="rsAnkiBold">{{ '{{Name}}' }}</span>{{ '{{#Year Released}}' }}
        ({{ '{{Year Released}}' }}){{ '{{/Year Released}}' }}
        <br>
        <ul class="mini">
            {{ '{{#Top Actors}}' }}
            <li>Stars {{ '{{Top Actors}}' }}</li>
            {{ '{{/Top Actors}}' }}
            {{ '{{#Director}}' }}
            <li>Directed by {{ '{{Director}}' }}</li>
            {{ '{{/Director}}' }}
            {{ '{{#Creator}}' }}
            <li>Created by {{ '{{Creator}}' }}</li>
            {{ '{{/Creator}}' }}
        </ul>
    {% endif %}
</div>

<div id="imagePart" class="{% if not is_front %}rsAnswer{% endif %}">
    {% if is_front %}
        <img src="_blank_poster.png">
    {% else %}
        {{ '{{Poster Image}}' }}
    {% endif %}
</div>


{{ script_include|safe }}
{{ '{{/Poster Image}}' }}