{{ '{{#YouTube Trailer Key}}' }}
{{ '{{#YouTube Trailer Duration}}' }}
<div id="textPart">
    {% if is_front %}
        What {{ '{{Video Type}}' }}?<br>
        <div class="video-container" >
            <div class="video-foreground">
                <div class="iframe-container"><div id="player"></div></div>
            </div>
        </div>
    {% else %}
        <span class="rsAnswer rsAnkiBold">{{ '{{Name}}' }}</span> ({{ '{{Year Released}}' }})<br>
    {% endif %}
</div>

<div id="imagePart">
    {% if not is_front %}
        {{ '{{Poster Image}}' }}
    {% endif %}
</div>

{{ script_include|safe }}
{{ '{{/YouTube Trailer Duration}}' }}
{{ '{{/YouTube Trailer Key}}' }}