<div id="textPart">
    {{ '{{#Source Title}}' }}<span id="rsAnkiContext">{{ '{{Source Title}}' }}:</span><br>{{ '{{/Source Title}}' }}
    {{ '{{cloze:Clozed Highlight}}' }}
    {{ '{{#Translated Highlight}}' }}
    <br><span class="mini">{{ '{{Translated Highlight}}' }}</span>
    <hr>
    {% if is_front %}
    <div id="rsAnkiSpanishMultipleChoice"></div>
    {% else %}
    <span class="rsAnswer">{{ '{{Keyword}}' }}</span>
    {% endif %}
    {{ '{{/Translated Highlight}}' }}
    {% if not is_front %}
    {{ '{{^Translated Highlight}}' }}
    <br>
    <ul>
        {{ '{{#Prev Highlight}}' }}
        <li>{{ '{{Prev Highlight}}' }}</li>
        {{ '{{/Prev Highlight}}' }}
        {{ '{{#Next Highlight}}' }}
        <li>{{ '{{Next Highlight}}' }}</li>
        {{ '{{/Next Highlight}}' }}
    </ul>
    {{ '{{/Translated Highlight}}' }}
    {% endif %}
</div>
<div id="imagePart">{{ '{{Image}}' }}</div>


{{ script_include|safe }}
<script type="text/javascript">if (typeof rsAnki !== 'undefined') rsAnki.insertSpanishMultipleChoice("{{ '{{Keyword}}' }}", 12);</script>
