<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>zdone</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        #unsorted, #sorted {
            border: 1px solid #eee;
            min-height: 20px;
            list-style-type: none;
            padding: 5px 0 0 0;
        }
        #unsorted li, #sorted li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 100%;
        }
        #grid {
            grid-template-columns: auto auto;
            grid-template-rows: auto;
        }
    </style>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $(function () {
        $("#sortable1, #sortable2").sortable({
          connectWith: ".connectedSortable"
        }).disableSelection();
      });
    </script>
</head>
<body>
<div id="grid">
    <div id="unsortedContainer">
        <ul id="unsorted" class="connectedSortable">
            {% for task in tasks %}
            <li class="ui-state-default"><b>{{ task.length }}m</b> {{ task.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="sortedContainer">
        <ul id="sorted" class="connectedSortable">

        </ul>
    </div>
</div>
</body>
</html>