{% extends "base.html" %}

{% block within_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    #unsorted, #sorted {
        border: 1px solid #eee;
        min-height: 20px;
        list-style-type: none;
        padding: 5px 0 0 0;
    }

    #unsorted li, #sorted li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1.2em;
    }

    #grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    .ui-state-highlight {
        height: 1.5em;
        line-height: 1.2em;
    }
</style>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    $("#unsorted, #sorted").sortable({
      placeholder: "ui-state-highlight",
      connectWith: ".connectedSortable"
    }).disableSelection();
    $("#sorted").on("sortupdate", function (event, ui) {
      $.ajax({
        contentType: "application/json",
        data: JSON.stringify({
          "priorities": $("#sorted span.taskTitle").toArray()
            .map(e => $(e).text())
            .join("|||")
        }),
        type: "POST",
        url: "http://www.zdone.co/set_priorities"
      });
    });
  });
</script>
{% endblock %}

{% block body %}
<div id="grid">
    <div id="sortedContainer">
        <h1>Sorted by Priority</h1>
        <ul id="sorted" class="connectedSortable">
            {% for task in sorted_tasks %}
            <li class="ui-state-default"><b>{{ task.length_minutes }}m</b> <span class="taskTitle">{{ task.name }}</span></li>
            {% endfor %}
        </ul>
    </div>
    <div id="unsortedContainer">
        <h1>To be Sorted</h1>
        <ul id="unsorted" class="connectedSortable">
            {% for task in unsorted_tasks %}
            <li class="ui-state-default"><b>{{ task.length_minutes }}m</b> <span class="taskTitle">{{ task.name }}</span></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}