{% extends "base.html" %}

{% block within_head %}
<title>spotify help</title>
<style>
    body {
        max-width: 1500px;
        margin: auto;
        padding: 20px;
    }
    img {
        max-width: 100%;
    }
</style>
{% endblock %}

{% block body %}
<h1>Spotify + Anki Help</h1>

<h2>How to Import new Songs</h2>
Download the <a href="/spotify/download_apkg">latest set of songs</a> (be patient, this may take up to 30 seconds). Open the file, and your new cards will appear under a deck called "Spotify Tracks."
<h2>How this app works</h2>
This app uses the concept of an "artist under management": this is an artist that you have decided you'd like to be familiar with. Once you add a selection of such artists, the app will automatically import the top 3 most-popular songs from their <a href="https://support.spotify.com/us/using_spotify/features/artist-profile/">profile page</a>, as well as <a href="https://support.spotify.com/us/article/what-is-your-music/">any songs that you've liked</a> from that artist.

<h2>How to Add a New Artist</h2>
While using the Spotify app, search for the artist you'd like to add and go to their artist page. Then, click follow. See below for a screenshot.<br>
<img src="/static/images/how_to_find_spotify_follow_button.png">

<h2>Why do I see unused fields named "Extra Field" and templates named "Extra Template"? Can I delete them?</h2>
These are fields and templates that are reserved for future use. To maintain backwards compatibility, Anki does not allow the names or count of fields or templates to change. Using placeholder values allows us to add new cards as times goes on without requiring a note migration!<br>
If you want to maintain the ability to update your collection with future downloads from this site, you should not change the names or number of fields or templates. Changing which deck a card belongs to or suspending cards are both perfectly fine.
{% endblock %}
