{% extends "base.html" %}

{% block within_head %}
    <title>HN</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
      let table;
      $(document).ready(function () {
        table = $('#hn_items_table').DataTable({
          "pageLength": 1,
          "lengthChange": true,
          "lengthMenu": [1, 10, 25, 50, 100],
          "searching": true,
          "ordering": false,
          "language": {
            "info": "Showing _START_ to _END_ of _TOTAL_ stories"
          }
        });
      });

      function clickLink(id, url) {
        window.open("https://news.ycombinator.com/item?id=" + id);
        window.open(url);
        table.row($('tr#' + id)).remove().draw();
        $.ajax({type: "POST", url: "/hn/" + id + '/'});
      }
    </script>
    <style>
      body {
        max-width: 1500px;
        margin: auto;
        padding: 20px;
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    </style>
{% endblock %}

{% block body %}
    {{ navigation|safe }}<br><br>
    You've read {{ total_reads }} stories, an average of <b>{{ average_reads_per_week }}</b> per week.<br><br>
    <table id="hn_items_table">
        <thead>
        <tr>
            <th>Points</th>
            <th>Story</th>
        </tr>
        </thead>
        <tbody>
        {% for item in hn_items %}
            <tr id="{{ item.id }}">
                <td class="dt-body-right">{{ item.score }}</td>
                <td class="dt-body-left"><a onclick="clickLink({{ item.id }}, '{{ item.url }}')"
                                            target="_blank">{{ item.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}