{% extends "base.html" %}

{% block within_head %}
<style>
    .gray {
        color: gray;
    }

    h1 {
        float: left;
        display: block;
        margin: 10px 0 10px 10px;
    }

    div.top-container {
        display: block;
        padding: 20px 0 10px 0;
        float: right;
        position: relative;
        margin: 0 10px 0 0;
        width: 60%;
    }

    /* @formatter:off */
    div.w3-container.w3-blue.w3-round {
        width: {{ percentage }}%;
        height: 24px;
        padding: 0;
        background-color: {{ background }};
    }
    /* @formatter:on */

    ul {
        clear: both;
        margin: 0;
    }

    hr {
        clear: both;
        margin: 10px 0;
    }

    .badge1 {
        position: relative;
    }

    .badge1[data-badge]:after {
        content: attr(data-badge);
        position: absolute;
        top: 6px;
        right: -8px;
        font-size: .3em;
        background: red;
        color: white;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        border-radius: 50%;
        box-shadow: 0 0 1px #333;
        font-weight: bold;
    }

    pie {
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 50%;
        background-color: black;
        border: 2px solid black;
        top: 1px;
        position: relative;
        margin-right: 6px;
        margin-left: 19px;
    }

    table.tasks {
        margin-right: 10px;
    }

    td.pie {
        width: 5%;
    }

    td.buttons {
        min-width: 90px;
        text-align: right;
        font-size: 35px;
    }

    td.buttons i {
        cursor: pointer;
    }

    td.subTaskName {
        font-size: 15px;
    }

    span.note {
        font-size: 10px;
    }

    .fas {
        margin-left: 10px;
        color: #cacaca;
    }

    td.pie {
        position: relative;
    }

    td.pie i {
        position: absolute;
        font-size: 13px;
        color: black;
        bottom: 12px;
        right: 30px;
    }

    td.date {
        font-size: 12px;
        text-align: right;
    }

    #noMoreTasks {
        text-align: center;
    }

    div.footer {
        color: gray;
        font-size: 10px;
        text-align: right;
        margin-right: 12px;
    }

    div.footer a {
        text-decoration: none;
    }
</style>
<script>
  function getSelector(service, id, subtask_id, use_class_selector = false) {
    let toReturn = "";
    if (use_class_selector) {
      toReturn += "."
    } else {
      toReturn += "#"
    }
    toReturn += service + "-" + id;
    if (subtask_id !== "") {
      toReturn += "-" + subtask_id
    }
    return toReturn
  }

  function completeItem(service, id, subtask_id) {
    $(getSelector(service, id, subtask_id)).find(".check").css("color", "green");
    updateItem(service, id, subtask_id, "complete")
  }

  function deferItem(service, id, subtask_id) {
    $(getSelector(service, id, subtask_id)).find(".defer").css("color", "#111198");
    updateItem(service, id, subtask_id, "defer")
  }

  function updateItem(service, id, subtask_id, update_action) {
    if (service === "toodledo" || service === "habitica") {
      $
        .ajax({
          contentType: "application/json",
          data: JSON.stringify({
            "service": service,
            "id": id,
            "subtask_id": subtask_id,
            "update": update_action
          }),
          type: "POST",
          url: "update_task"
        })
        .done(function () {
          $(getSelector(service, id, subtask_id)).slideUp();
          $(getSelector(service, id, subtask_id, true)).slideUp();
        });
    } else {
      alert("Unexpected service '" + service + "'!")
    }
  }

  function setTimeAndReload(new_time) {
    if (new_time !== null && new_time !== '' && !isNaN(new_time)) {
      $
        .ajax({
          contentType: "application/json",
          data: JSON.stringify({
            "maximum_minutes_per_day": new_time
          }),
          type: "POST",
          url: "update_time"
        })
        .done(function () {
          document.location.reload(true);
        });
    }
  }
</script>
<script src="//kit.fontawesome.com/874826286d.js"></script>
{% endblock %}

{% block body %}
{% if num_unsorted_tasks > 0 %}
<a href="/priorities"><h1 class="badge1" data-badge="{{ num_unsorted_tasks }}">zdone</h1></a>
{% elif num_tasks_without_required_fields > 0 %}
<a href="https://tasks.toodledo.com/saved/354943"><h1 class="badge1"
                                                      data-badge="{{ num_tasks_without_required_fields }}">zdone</h1>
</a>
{% else %}
<h1>zdone</h1>
{% endif %}

<div class="w3-container top-container">
    <div class="w3-light-grey w3-round-large">
        <div class="w3-container w3-blue w3-round"></div>
    </div>
    <!--
    <div style="display: inline-block;">{{ times['minutes_completed_today'] }}m done</div>
    <div style="float: right; display: inline-block;">{{ times['minutes_allocated'] }}m</div>
    -->
</div>
<hr>
{% if num_tasks_to_do == 0 %}
<div id="noMoreTasks">
    No more tasks!<br>
    Increase time limit by 60 minutes?<br><br>
    <a href="javascript:void(0)" onclick="setTimeAndReload({{ times[" maximum_minutes_per_day"] }} + 60)">Yes</a>
</div>
{% endif %}
<table class="tasks">
    {% for task in tasks_to_do %}
    <tr class="task" id="{{ task.service }}-{{ task.id }}">
        <td class="pie">
            {% if task.length_minutes > 0 %}
            <pie style="background-image: {{ task.get_pie_background_image() }}"></pie>
            {% endif %}
            {% if task.is_repeating() %}
            <i aria-hidden="true" class="fa fa-sync"></i>
            {% endif %}
        </td>
        <td class="taskName">{{ task.name }}{% if task.note %}<br><span
                class="note">{{ task.note|safe }}</span>{% endif %}
        </td>
        <td class="buttons"><i class="fas fa-angle-double-right defer"
                               onclick="deferItem('{{ task.service }}', '{{ task.id }}', '')"></i><i
                class="fas fa-check check" onclick="completeItem('{{ task.service }}', '{{ task.id }}', '')"></i>
        </td>
    </tr>
    {% for sub_task in task.sub_tasks %}
    {% if sub_task.completed_date == None %}
    <tr class="subTask {{ task.service }}-{{ task.id }}" id="{{ sub_task.service }}-{{ task.id }}-{{ sub_task.id }}">
        <td class="pie"></td>
        <td class="subTaskName">{{ sub_task.name }}{% if sub_task.note %}<br><span
                class="note">{{ sub_task.note|safe }}</span>{% endif %}
        </td>
        <td class="buttons"><i class="fas fa-check check"
                               onclick="completeItem('{{ sub_task.service }}', '{{task.id}}', '{{ sub_task.id }}')"></i>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}

    {% for task in nonrecurring_tasks_coming_up %}
    <tr class="task gray" id="{{ task.service }}-{{ task.id }}">
        <td class="date">{{ task.due_date.month }}-{{ task.due_date.day }}</td>
        <td class="taskName">{{ task.name }}</td>
        <td class="buttons"></td>
    </tr>
    {% endfor %}
</table>
<hr>
<div class="footer">
    <a href="javascript:void(0)"
       onclick="setTimeAndReload(prompt('Time limit:', '{{ times['maximum_minutes_per_day'] }}'));">SETTINGS</a>
</div>

{% endblock %}