{% extends "base.html" %}

{% block within_head %}
<style>
    /* @formatter:off */
    div.w3-container.w3-blue.w3-round {
        width: {{ percentage }}%;
        height: 24px;
        padding: 0;
        background-color: {{ background }};
    }
    /* @formatter:on */
</style>
<script src="{{ url_for('static',filename='scripts/app.js') }}"></script>
<script src="//kit.fontawesome.com/874826286d.js"></script>
{% endblock %}

{% block body %}
<div id="app">
    {% if num_unsorted_tasks > 0 %}
    <a href="/priorities"><h1 class="badge1" data-badge="{{ num_unsorted_tasks }}">zdone</h1></a>
    {% elif num_tasks_without_required_fields > 0 %}
    <a href="https://tasks.toodledo.com/saved/354943"><h1 class="badge1"
                                                          data-badge="{{ num_tasks_without_required_fields }}">
        zdone</h1>
    </a>
    {% else %}
    <h1>zdone</h1>
    {% endif %}

    <div class="w3-container top-container">
        <div style="position: absolute; right: 7px; top: 20px; font-family: 'Open Sans Light'; font-size: 16px;">{{ times['minutes_allocated_rounded'] }}</div>
        <div class="w3-light-grey w3-round-large">
            <div class="w3-container w3-blue w3-round"></div>
        </div>
<!--        <div style="display: inline-block;">{{ times['minutes_completed_today'] }}m done</div>-->
    </div>
    <hr>
    {% if num_tasks_to_do == 0 %}
    <div id="noMoreTasks">
        No more tasks!<br>
        Increase time limit by 60 minutes?<br><br>
        <a href="javascript:void(0)" onclick="setTimeAndReload({{ times['maximum_minutes_per_day'] }} + 60)">Yes</a>
    </div>
    {% endif %}
    <table class="tasks">
        {% for task in tasks_to_do %}
        <tr class="task" id="{{ task.service }}-{{ task.id }}">
            <td class="pie">
                {% if task.length_minutes > 0 %}
                <pie style="background-image: {{ task.get_pie_background_image() }}"></pie>
                {% endif %}
                {% if task.is_repeating() %}
                <i aria-hidden="true" class="fa fa-sync"></i>
                {% endif %}
            </td>
            <td class="taskName">{{ task.name }}{% if task.note %}<br><span
                    class="note">{{ task.note|safe }}</span>{% endif %}
            </td>
            <td class="buttons"><i class="fas fa-angle-double-right defer"
                                   onclick="deferItem('{{ task.service }}', '{{ task.id }}', '')"></i><i
                    class="fas fa-check check" onclick="completeItem('{{ task.service }}', '{{ task.id }}', '')"></i>
            </td>
        </tr>
        {% for sub_task in task.sub_tasks %}
        {% if sub_task.completed_date == None %}
        <tr class="subTask {{ task.service }}-{{ task.id }}"
            id="{{ sub_task.service }}-{{ task.id }}-{{ sub_task.id }}">
            <td class="pie"></td>
            <td class="subTaskName">{{ sub_task.name }}{% if sub_task.note %}<br><span
                    class="note">{{ sub_task.note|safe }}</span>{% endif %}
            </td>
            <td class="buttons"><i class="fas fa-check check"
                                   onclick="completeItem('{{ sub_task.service }}', '{{task.id}}', '{{ sub_task.id }}')"></i>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}

        {% for task in nonrecurring_tasks_coming_up %}
        <tr class="task gray" id="{{ task.service }}-{{ task.id }}">
            <td class="date">{{ task.due_date.month }}-{{ task.due_date.day }}</td>
            <td class="taskName">{{ task.name }}</td>
            <td class="buttons"></td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <div class="footer">
        <a href="javascript:void(0)"
           onclick="setTimeAndReload(prompt('Time limit:', '{{ times['maximum_minutes_per_day'] }}'));">SETTINGS</a>
    </div>
</div>
{% endblock %}