{% extends "base.html" %}

{% block within_head %}
    <title>login</title>
    <style>
    body {
        max-width: 400px;
        margin: auto;
    }
    </style>
{% endblock %}

{% block body %}
<h1>Sign In to Spotify + Anki</h1>
    {% if passed_username %}
        {% if just_registered %}
            <span style="color: darkgreen">Successfully registered user <b>{{ passed_username }}</b>! Use your password to log in below.</span>
        {% endif %}
    {% else %}
        Need to <a href="register">register</a>?
    {% endif %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}