{% extends "base.html" %}

{% block within_head %}
<script src="{{ url_for('static',filename='scripts/easytimer.min.js') }}"></script>
<script>
  $.ajaxSetup({
    headers: {
      'x-api-key': "{{ api_key }}"
    }
  });
  let tasks;
  let stillPositive;
  let totalSeconds;
  let timer;

  function nextTask() {
    let task = tasks.shift();
    totalSeconds = task.length_minutes * 60;
    timer = new easytimer.Timer();
    stillPositive = true;
    timer.start({countdown: true, startValues: {seconds: totalSeconds}});
    $('#countdownExample .values').html(timer.getTimeValues().toString());
    $('#countdownExample .name').html(task.name);

    timer.addEventListener('secondsUpdated', function (e) {
      $('#countdownExample .values').html(timer.getTimeValues().toString());
    });

    timer.addEventListener('targetAchieved', function (e) {
      $('#countdownExample .values').css('color', 'red');
      stillPositive = false;
      timer.start({precision: 'seconds'});
    });
  }

  $(function () {
    $.get(
      "/api",
      function (data) {
        tasks = data["tasks_to_do"];
        $('div.button').css('visibility', 'visible');
        nextTask();
      }
    );
    $("button#complete").click(function (event) {
      let durationSeconds = 0;
      if (stillPositive) {
        durationSeconds = totalSeconds - timer.getTotalTimeValues().seconds;
      } else {
        durationSeconds = totalSeconds + timer.getTotalTimeValues().seconds;
      }
      nextTask();
      event.preventDefault();
    });
    $("button#defer").click(function (event) {
      nextTask();
      event.preventDefault();
    });
  });
</script>
<style>
    #countdownExample {
        margin: 0 auto;
        text-align: center;
    }
    .name {
        font-weight: bold;
    }
    div.name, div.values, div.button {
        margin: 10px;
    }
    div.button {
        visibility: hidden;
    }
    body {
        font-size: 40px;
    }
</style>
{% endblock %}

{% block body %}
<div id="countdownExample">
    <div class="name">Loading tasks...</div>
    <div class="values"></div>
    <div class="button">
        <button id="defer">Defer</button>
        <button id="complete">Complete</button>
    </div>

</div>
{% endblock %}
