{% extends "base.html" %}

{% block within_head %}
<script src="{{ url_for('static',filename='scripts/easytimer.min.js') }}"></script>
<script data-api-key="{{ api_key }}" src="{{ url_for('static',filename='scripts/app.js') }}"></script>
<script src="//kit.fontawesome.com/874826286d.js"></script>
<script>
  $.ajaxSetup({
    headers: {
      'x-api-key': "{{ api_key }}"
    }
  });
  let task;
  let tasks;
  let stillPositive;
  let totalSeconds;
  let timer;

  function nextTask() {
    $('#countdownExample .values').css('color', 'black');
    task = tasks.shift();
    totalSeconds = task.length_minutes * 60;
    timer = new easytimer.Timer();
    stillPositive = true;
    timer.start({countdown: true, startValues: {seconds: totalSeconds}});
    $('#countdownExample .values').html(timer.getTimeValues().toString());
    $('#countdownExample .name').html(task.name);
    $('#countdownExample .note').html(task.note);
    $('#completeAsOrig').html("Complete as " + task.length_minutes + "m");
    let subtasksHtml = "";
    task.sub_tasks.forEach(subTask => {
      if (subTask.completed_datetime === null) {
        subtasksHtml += "<div class='subtask " + getSelector(subTask.service, task.id, subTask.id, true).slice(1) + "'>" +
          "<i class=\"fas fa-check check\" onclick=\"completeItem('" + subTask.service
          + "', '" + task.id + "', '" + subTask.id + "')\"></i>" + subTask.name + "</div>";
      }
    });
    $('#countdownExample .subtasks').html(subtasksHtml);

    timer.addEventListener('secondsUpdated', function (e) {
      $('#countdownExample .values').html(timer.getTimeValues().toString());
    });

    timer.addEventListener('targetAchieved', function (e) {
      $('#countdownExample .values').css('color', 'red');
      stillPositive = false;
      timer.start({precision: 'seconds'});
    });
  }

  $(function () {
    $.get(
      "/api?sort",
      function (data) {
        tasks = data["tasks_to_do"];
        $('div.button').css('visibility', 'visible');
        nextTask();
      }
    );
    $("button#complete").click(function (event) {
      timer.stop();
      let durationSeconds = 0;
      if (stillPositive) {
        durationSeconds = totalSeconds - timer.getTotalTimeValues().seconds;
      } else {
        durationSeconds = totalSeconds + timer.getTotalTimeValues().seconds;
      }
      completeItem(task.service, task.id, task.subtask_id, task.length_minutes, durationSeconds);
      nextTask();
      event.preventDefault();
    });
    $("button#defer").click(function (event) {
      timer.stop();
      deferItem(task.service, task.id, task.subtask_id, task.length_minutes);
      nextTask();
      event.preventDefault();
    });
    $("button#completeAsOrig").click(function (event) {
      timer.stop();
      completeItem(task.service, task.id, task.subtask_id, task.length_minutes, task.length_minutes);
      nextTask();
      event.preventDefault();
    });
  });
</script>
<style>
    .subtask {
        margin: 10px;
    }

    #countdownExample {
        margin: 0 auto;
        text-align: center;
    }

    .name {
        font-weight: bold;
    }

    #countdownExample > div {
        margin: 20px;
    }

    div.button {
        visibility: hidden;
    }

    body {
        font-size: 40px;
    }

    div.note {
        font-size: 15px;
    }

    #completeAsOrig {
        font-size: 20px;
        line-height: 20px;
    }
</style>
{% endblock %}

{% block body %}
<div id="countdownExample">
    <div class="name">Loading tasks...</div>
    <div class="note"></div>
    <div class="subtasks"></div>
    <div class="values"></div>
    <div class="button">
        <button id="defer">Defer</button> &nbsp;
        <button id="complete">Complete</button>
        <br><br>
        <button id="completeAsOrig"></button>
    </div>

</div>
{% endblock %}
