{% extends "base.html" %}

{% block within_head %}
<script data-api-key="{{ api_key }}" src="{{ url_for('static',filename='scripts/app.js') }}"></script>
<script src="//kit.fontawesome.com/874826286d.js"></script>
<script>
  $.ajaxSetup({
    headers: {
      'x-api-key': "{{ api_key }}"
    }
  });
  let task;
  let tasks;

  function fade(selector, html) {
    $(selector).fadeOut(150, function() {
      $(this).html(html);
    }).fadeIn(150);
  }

  function nextTask() {
    $('#countdownExample .values').css('color', 'black');
    if (tasks.length > 0) {
      task = tasks.shift();
      fade('#countdownExample .name', task.name);
      fade('#countdownExample .note', task.note);
    } else {
      fade('#countdownExample .name', "All done!<br>Check <a href='https://trello.com/b/Kq6NQ2LP/backlogs'>Backlogs</a> for ideas.");
      fade('#countdownExample .note', "");
      $("div.button").hide();
    }
  }

  $(function () {
    $.get(
      "/api?zdone",
      function (data) {
        tasks = data["tasks_to_do"];
        serverTimeZone = data["time_zone"]
        deviceTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;

        if (serverTimeZone !== deviceTimeZone) {
          $('#countdownExample .name').html("Time zone mismatch!")
          $('#countdownExample .note').html(
            `Your device's time zone is set to '${deviceTimeZone}' but the server setting is '${serverTimeZone}'.<br>` +
            `Please update the server time zone to avoid inaccurate data.`);
          $('div.button2').css('display', 'block');
        } else {
          $('div.reminder').html(`<b>${data["latest_reminder"]["title"]}</b><br>${data["latest_reminder"]["message"]}`);
          $('div.button').fadeIn(500);
          $('div.reminder').fadeIn(1000);
          nextTask();
        }
      }
    );
    $("button#complete").click(function (event) {
      completeItem(task.service, task.id, task.subtask_id, task.length_minutes);
      nextTask();
      event.preventDefault();
    });
    $("button#defer").click(function (event) {
      deferItem(task.service, task.id, task.subtask_id, task.length_minutes);
      nextTask();
      event.preventDefault();
    });
    $("button#later").click(function (event) {
      nextTask();
      event.preventDefault();
    });
    $("button#nocare").click(function (event) {
      $('div.button2').css('display', 'none');
      $('div.button').css('display', 'block');
      nextTask();
      event.preventDefault();
    });
  });
</script>
<style>
    .subtask {
        margin: 10px;
    }

    #countdownExample {
        margin: 0 auto;
        text-align: center;
    }

    .name {
        font-weight: bold;
    }

    #countdownExample > div {
        margin: 20px;
    }

    div.button, div.button2 {
        display: none;
    }

    body {
        font-size: 40px;
    }

    .reminder {
        font-size: 20px;
        position: fixed;
        bottom: 0;
        display: none;
    }

    div.note {
        font-size: 15px;
    }

    button#later, button#defer {
        font-size: 20px;
    }
</style>
{% endblock %}

{% block body %}
<base target="_blank">
<div id="countdownExample">
    <div class="name">Loading tasks...</div>
    <div class="note"></div>
    <div class="subtasks"></div>
    <div class="values"></div>
    <div class="button">
        <button id="complete">Complete</button><br>
        <button id="later">Later</button>
        <button id="defer">Defer 3 Days</button>
    </div>
    <div class="button2">
        <button id="nocare">I don't care</button>
    </div>
    <div class="reminder"></div>

</div>
{% endblock %}
