{% extends "base.html" %}

{% block within_head %}
<title>{{ type }}</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    $("#unsorted, #sorted").sortable({
      placeholder: "ui-state-highlight",
      connectWith: ".connectedSortable"
    }).disableSelection();
    $("#sorted").on("sortupdate", function (event, ui) {
      $.ajax({
        contentType: "application/json",
        data: JSON.stringify({
          "{{ type }}": $("#sorted span.taskTitle").toArray()
            .map(e => $(e).text())
            .join("|||")
        }),
        type: "POST",
        url: "/set_{{ type }}"
      });
    });
  });
</script>
{% endblock %}

{% block body %}
<div id="grid">
    <div id="sortedContainer">
        <h1>Sorted by {% if type == 'dependencies' %}
            Dependency
            {% else %}
            Priority
            {% endif %}</h1>
        <ul id="sorted" class="connectedSortable">
            {% for task in sorted_tasks %}
            <li class="ui-state-default {{ task.service }}">
                <b>{{ task.length_minutes }}m</b> <span class="taskTitle">{{ task.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="unsortedContainer">
        <h1>To be Sorted</h1>
        <ul id="unsorted" class="connectedSortable">
            {% for task in unsorted_tasks %}
            <li class="ui-state-default {{ task.service }}">
                <b>{{ task.length_minutes }}m</b> <span class="taskTitle">{{ task.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}