{% extends "base.html" %}

{% block within_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ url_for('static',filename='scripts/priorities_and_dependencies.js') }}"></script>
{% endblock %}

{% block body %}
<div id="grid">
    <div id="sortedContainer">
        <h1>Sorted by {% if type == 'dependencies' %}
            Dependency
            {% else %}
            Priority
            {% endif %}</h1>
        <ul id="sorted" class="connectedSortable">
            {% for task in sorted_tasks %}
            <li class="ui-state-default {{ task.service }}">
                <b>{{ task.length_minutes }}m</b> <span class="taskTitle">{{ task.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="unsortedContainer">
        <h1>To be Sorted</h1>
        <ul id="unsorted" class="connectedSortable">
            {% for task in unsorted_tasks %}
            <li class="ui-state-default {{ task.service }}">
                <b>{{ task.length_minutes }}m</b> <span class="taskTitle">{{ task.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}