{% extends "base.html" %}

{% block within_head %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    body {
        max-width: 100%;
    }

    #unsorted, #sorted {
        min-height: 20px;
        list-style-type: none;
        padding: 5px 0 0 0;
    }

    #unsorted li, #sorted li {
        margin: 0 5px 5px 5px;
        padding: 5px;
        font-size: 1em;
    }

    #grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        margin: 0 10px 0 10px;
    }

    .ui-state-highlight {
        height: 1.5em;
        line-height: 1.2em;
    }

    li.toodledo {
        background-color: #c8dcfa;
        color: #163c60
    }

    li.habitica {
        background-color: #432874;
        color: white;
    }
</style>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    $("#unsorted, #sorted").sortable({
      placeholder: "ui-state-highlight",
    /* @formatter:off */
      {% if type == 'dependencies' %}
        cancel: ".nosort",
      {% endif %}
      connectWith: ".connectedSortable"
    }).disableSelection();
      /* @formatter:on */
    $("#sorted").on("sortupdate", function (event, ui) {
      $.ajax({
        contentType: "application/json",
        data: JSON.stringify({
          "{{ type }}": $("#sorted span.taskTitle").toArray()
            .map(e => $(e).text())
            .join("|||")
        }),
        type: "POST",
        url: "set_{{ type }}"
      });
    });
  });
</script>
{% endblock %}

{% block body %}
<div id="grid">
    <div id="sortedContainer">
        <h1>Sorted by {% if type == 'dependencies' %}
            Dependency
            {% else %}
            Priority
            {% endif %}</h1>
        <ul id="sorted" class="connectedSortable">
            {% for task in sorted_tasks %}
            <li class="ui-state-default {{ task.service }} {% if task.service in ['habitica'] %}nosort{% endif %}">
                <b>{{ task.length_minutes }}m</b> <span class="taskTitle">{{ task.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="unsortedContainer">
        <h1>To be Sorted</h1>
        <ul id="unsorted" class="connectedSortable">
            {% for task in unsorted_tasks %}
            <li class="ui-state-default {{ task.service }} {% if task.service in ['habitica'] %}nosort{% endif %}">
                <b>{{ task.length_minutes }}m</b> <span class="taskTitle">{{ task.name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}