{% extends "base.html" %}

{% block within_head %}
    <title>reminders</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        var table = $('#reminders_table').DataTable({
          "lengthChange": false,
          "language": {
            "info": "Showing _START_ to _END_ of _TOTAL_ reminders"
          }
        });
      });
      function clearIf(text) {
        let textarea = $('textarea#message')
        if (textarea.text().replaceAll('\n', '') === text) {
          textarea.text('');
        }
      }
    </script>
    <style>
        body {
            max-width: 1500px;
            margin: auto;
            padding: 20px;
        }

        tr.inactive {
            color: gray;
            font-style: italic;
        }

        textarea, input {
            width: 700px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ navigation|safe }}
    <h1>Reminders</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
        </p>
        <p>
            {{ form.message.label }}<br>
            {{ form.message(rows="5", onfocus="clearIf('" + reminder_default + "')") }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <br>
        {% endif %}
    {% endwith %}
    <br>
    <table id="reminders_table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for reminder in reminders %}
            <tr class="{% if reminder.active %}active{% else %}inactive{% endif %}">
                <td class="dt-body-left">{{ reminder.title }}</td>
                <td class="dt-body-left">{{ reminder.message|safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
