{% extends "base.html" %}

{% block within_head %}
<title>music quiz</title>
<style>
    body {
        color: white;
        background-color: black;
    }

    div#container {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    div.selection {
        border: 2px solid white;
        padding: 2px;
        margin: 5px;
    }
</style>
<script>
  function sleep(time) {
    return new Promise((resolve) => setTimeout(resolve, time));
  }

  function answerQuestion(correct_artist, guess) {
    let $sel = $(`div.${guess.split(" ")[0]}`);
    if (correct_artist === guess) {
      $sel.css("background-color", "green");
      sleep(1000).then(() => {
        location.reload();
      });
    } else {
      $sel.css("background-color", "red");
    }
  }

  function showAnswer(artist) {
    $('div#answer').text(artist);
    sleep(5000).then(() => {
      location.reload();
    });
  }
</script>
{% endblock %}

{% block body %}
<div id="container">
    Who is the artist?<br>
    {% for artist in potential_artists %}
{#    <div class="selection {{ artist }}" onclick="answerQuestion('{{ correct_artist }}', '{{ artist }}')">{{artist}}</div>#}
        <div id="answer" class="selection" onclick="showAnswer('{{ artist }}')">Show Answer</div>
    {% endfor %}

</div>
{% endblock %}
