{% extends "base.html" %}

{% block within_head %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#managed_artists_table').dataTable({
          "lengthChange": false,
          "language": {
            "info": "Showing _START_ to _END_ of _TOTAL_ managed artists"
          }
        });
      });
    </script>
<style>
    body {
        max-width: 1500px;
        margin: auto;
        padding: 20px;
    }
</style>
{% endblock %}

{% block body %}
<h1>Spotify + Anki</h1>
    Looking for <a href="/spotify/help">Help</a>?<br>
    Download the <a href="/spotify/download_apkg">latest set of songs</a> (be patient, this may take up to a minute).
<h2><a name="AUM">Artists Under Management</a></h2>
    {% if not totals_given %}
        <a href="?total_track_counts#AUM">Show total track count for artists</a> (includes top + liked; warning, this will take a while)
    {% endif %}
<table id="managed_artists_table">
<thead>
    <tr>
        <th>Artist</th>
        <th>Plays</th>
        <th>Added</th>
        <th>Top Tracks</th>
        {% if totals_given %}
            <th>Total Tracks</th>
        {% endif %}
    </tr>
</thead>
<tbody>
{% for name, uri, plays, date_added, num_top_tracks, num_total_tracks in managed_artists %}
    <tr>
        <td><a href="https://open.spotify.com/artist/{{ uri }}" target="_blank">{{ name }}</a></td>
        <td class="dt-body-right">{% if plays %}{{ plays }}{% endif %}</td>
        <td class="dt-body-right">{{ date_added }}</td>
        <td class="dt-body-right">{{ num_top_tracks }}</td>
        {% if totals_given %}
            <td class="dt-body-right">{{ num_total_tracks }}</td>
        {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>
    Artists popular with other Spotify + Anki users include
{% for i in range(0, recommendations|length) %}
    {% set name, uri = recommendations[i] %}
    <a href="https://open.spotify.com/artist/{{ uri }}">{{ name }}</a>{% if i == 0 %}, {% elif i == 1 %}, and {% else %}{% endif %}{% endfor %}.
{% if totals_given %}
    <h2>Stats</h2>
    <b>{{ total_tracks }}</b> total tracks<br>
    <b>{{ total_artists }}</b> total artists (includes unmanaged artists featured on tracks by managed artists).
{% endif %}
{% endblock %}